
<div class="row justify-content-center animate__animated animate__fadeIn animate__faster">
  <div class="col col-9">
      <h1 *ngIf="!isUpdate">Add <small>employee</small></h1>
      <h1 *ngIf="isUpdate">Update <small>employee</small></h1>
      <hr>
  </div>

  <div class="col col-9 text-right">
       <button type="button"
               (click)="onBackTolist()"
               class="btn btn-danger  shadow">
               <i class="fas fa-arrow-left    "></i>
               Got to employeee list</button>
  </div>

  <div class="p-4 col mt-4 col-9 shadow p-3 mb-5 bg-white rounded">
      <form action=""
            (ngSubmit)="onSubmit()"
            class="form"
            [formGroup]="formGroup">
      <div class="form-group">
        <label for="">Name</label>
        <input type="text"
               formControlName="name"
               name=""
               [class.is-invalid] = "_validationService.isInValidField(formGroup,'name')"
               class="form-control"
               placeholder="Name"
               aria-describedby="helpId">
        <small *ngIf="_validationService.hasRequiredError(formGroup,'name')"
              class="text-danger">*Is required</small>
       <small *ngIf="_validationService.hasMaxLengthError(formGroup,'name')"
              class="text-danger">*Max length 30</small>
      </div>

      <div class="form-group">
        <label for="">Surnames</label>
        <input type="text"
               formControlName="surnames"
               [class.is-invalid] = "_validationService.isInValidField(formGroup,'surnames')"
               name=""
               class="form-control"
               placeholder="Surnames">
        <small *ngIf="_validationService.hasRequiredError(formGroup,'surnames')"
                      class="text-danger">*Is required</small>
       <small *ngIf="_validationService.hasMaxLengthError(formGroup,'surnames')"
                      class="text-danger">*Max length 30</small>
      </div>

      <div class="form-group">
        <label for="">Age</label>
        <input type="number"
               name=""
               [class.is-invalid] = "_validationService.isInValidField(formGroup,'age')"
               formControlName="age"
               class="form-control"
               placeholder="Age">
        <small *ngIf="_validationService.hasRequiredError(formGroup,'age')"
               class="text-danger">*Is required</small>
       <small *ngIf="_validationService.hasMaxError(formGroup,'age')"
               class="text-danger">*Is too long</small>
       <small *ngIf="_validationService.hasMinError(formGroup,'age')"
               class="text-danger">*Is too small</small>
      </div>

      <div class="form-group">
        <label for="">Phone number</label>
        <input  type="number"
                formControlName="phoneNumber"
                name=""
                [class.is-invalid] = "_validationService.isInValidField(formGroup,'phoneNumber')"
                class="form-control"
                placeholder="Phone number">
         <small *ngIf="_validationService.hasRequiredError(formGroup,'phoneNumber')"
               class="text-danger">*Is required</small>
       <small *ngIf="_validationService.hasMaxError(formGroup,'phoneNumber')"
               class="text-danger">*Is too long</small>
       <small *ngIf="_validationService.hasMinError(formGroup,'phoneNumber')"
               class="text-danger">*Is too small</small>
      </div>

      <div class="form-group">
        <label for="">Email</label>
        <input type="text"
               name=""
               [class.is-invalid] = "_validationService.isInValidField(formGroup,'email')"
               formControlName ="email"
               class="form-control"
               placeholder="Email">
        <small *ngIf="_validationService.hasRequiredError(formGroup,'email')"
               class="text-danger">*Is required</small>
        <small *ngIf=" (_validationService.hasEmailFormatError(formGroup)
                       && !_validationService.hasMaxLengthError(formGroup,'email'))"
               class="text-danger">*Incorrec format</small>
        <small *ngIf="(!_validationService.hasEmailFormatError(formGroup)
                &&  _validationService.hasMaxLengthError(formGroup,'email'))"
              class="text-danger">*Max length 30</small>
      </div>

      <div class="ml-5 mr-5">
        <button type="submit"
                 [disabled]="loading"
                 name=""
                 id=""
                 class="btn btn-primary btn-sm btn-block" >
                 <span *ngIf="loading" class="spinner-border spinner-border-sm"
                       role="status"
                       aria-hidden="true"></span>
                <span *ngIf="!loading">Save</span>
                <span *ngIf="loading"> Saving...</span>
                </button>
      </div>
    </form>
  </div>
</div>

<!-- <pre>
  {{formGroup.value | json}}
</pre>
 -->
